
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашнее задание 2</title>
    <body>
    <link rel="stylesheet" href = "../static/css/style.css" %/>
    <h1 align="center" style="color: rgb(248, 239, 239)">Главная</h1>
    <a href="../index/" style="color:darkorchid;">Контакты </a>
    <navi>
        <ul>
            <li><a href="../index/" style="
    color: green;
">Главная</a></li>
            <li><a href="../contanct/" style="
    color: yellow;
">Контакты</a></li>

        </ul>
    </navi>
    <br>
    <a href="malito:aquadiroma@mail.ru">aquadiroma@mail.ru</a>
    <a href="tel:889998844556">+7 (889) 998-85-55</a>
    <div class="footer">
        <div class="container"><span class="sub">© Все права защищены <a href="../contanct/" style="
    color: red;
">AVENU</a> 2020</span></div>


    

</div></body></html>