<!DOCTYPE html>
{% load meal_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meal</title>
</head>
<body>
    <h1>Твое любимое блюдо?</h1>
    
    <form method="POST">
    {% csrf_token %}
    <label for="my_meals">Твое любимое блюдо?<label>
    <br>
        <input id='my_meals', type='text', name="my_meals">
        <button type="submit">Добавить</button>
        </form>
        <ol>
        {% for meal in meals %}
    <li>{{ meal.id }}. {{ meal.name|capitalize }}</li>
{% endfor %}
</ol>
</body>
</html>